<section class="single-comic">
  <div class="row">
    <div class="col span-2-of-3 comic-description">
      <h1><%=@comic.title%></h1>
      <p>Description:<br> <%=@comic.description %></p>
      <p>Price: <%=@comic.price%></p>
      <p><%=@comic.release_date.strftime("%B %d, %Y") %></p>
    </div>
    <div class="col span-1-of-3 comic-image">
      <%= image_tag displayCoverImage(@comic) %>
      <%= displayAddButton(current_user,@comic) %>
    </div>
  </div>

  <div class="comic-additional-information">
    <div class="row">
      <h1>Artists</h1>
    </div>
    <ul class="artist-list clearfix">
      <% @comic.artists.each do |artist| %>
        <li class="comic-artist-img">
          <%=image_tag displayArtistImage(artist) %>
          <%=artist.nameType%>
        </li>
      <% end %>
    </ul>

    <div class="row">
      <h1>Characters</h1>
    </div>
    <ul class="character-list clearfix">
      <% @comic.characters.each do |character| %>
        <li class="comic-artist-img">
          <%=image_tag displayCharacterImage(character) %>
          <%=character.name%>
        </li>
      <% end %>
    </ul>
    <%=link_to "Reviews for this comic", comic_reviews_path(@comic),{:class =>"form-links"} %>
    <div class="row">
      <h1>Users who own this comic</h1>
    </div>
    <ul class="character-list clearfix">
      <% @comic.removeCurrentUser(current_user).each do |user| %>
        <li class="comic-artist-img">
          <%=image_tag displayUserImage(user) %>
          <%=user.firstEmailPart%>
        </li>
      <% end %>
    </ul>
  </div>
</section>
