<div class="container-fluid">
  <nav class="red-navigation clearfix">
    <h1 class="logo nav-red-logo"><%=link_to "Comic Review Corner", root_path %></h1>
    <ul class="main-nav nav-red">
      <li><%=link_to "Comics", comics_path %></li>
      <li><%=link_to "Artists", artists_path %></li>
      <li><%=link_to "Reviews", reviews_path %></li>
      <li><%=displayLoginOutLink %></li>
      <%= displayNewComicLink(current_user) %>
      <%= displayUser(current_user) %>
    </ul>
  </nav>
</div>
